.footer {
    padding-top: 93px;
    padding-bottom: 106px;
    background-color: rgba(6, 30, 55, 1);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    .footer__left-side {
        margin-left: 79px;

        .footer__about-us-mnu {
            margin-top: 50px;
            font-family: raleway;
            font-size: 15px;

            ul {
                display: flex;
                padding-inline-start: 0;



                li {
                    list-style-type: none;

                    &:not(:first-child) {
                        &::before {
                            content: "\2022";
                            color: #fff;
                            font-weight: bold;
                            display: inline-block;
                            width: 2em;
                            margin-left: -1em;
                        }
                    }




                    a {
                        color: #fff;
                        opacity: 0.5;
                        margin-right: 44px;
                        transition: all 0.3s ease-out;


                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .footer__right-side {
        margin-right: 81px;
        align-items: end;

        .footer--nav {
            display: flex;
            margin-top: 10px;

            li {
                list-style-type: none;



                a {
                    font-family: raleway;
                    font-weight: normal;
                    font-size: 15px;
                    color: #fff;
                    margin-left: 49px;
                    text-decoration: none;
                    transition: all 0.3s ease-out;

                    &:hover {
                        text-shadow: 0 0 3px rgb(14, 10, 80);
                        opacity: 0.4;
                    }

                }
            }
        }

        .footer--social {
            width: 173px;
            margin-top: 60px;
            float: right;

            ul {
                display: flex;
                justify-content: space-between;
                padding-inline-start: 0px;
                margin: 0;

                li {
                    list-style-type: none;
                    transition: all 0.3s ease-out;

                    &:hover {
                        transform: scale(1.5, 1.5);
                    }
                }

                .social-icon {
                    font-family: social;
                    font-size: 20px;
                    color: #fff;
                    opacity: 0.2;

                }
            }
        }
    }
}