.statistics {
    display: flex;
    margin-top: 97px;
    text-align: center;

    .statistics-flex {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .material-icons {
            display: inline-block;
            font-size: 30px;
            padding: 19px;
            border-radius: 50%;
            background-color: #fff;
            margin: 65px 22px;

        }

        .statistics__content {
            
            
            p {
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                font-family: raleway;
                text-align: left;
                margin: 0;
            }

        }
    }

    .statistics__business {
        background-color: rgba(128, 216, 255, 1);

        .material-icons {
            color: rgba(128, 216, 255, 1);
        }
    }

    .statistics__dowloads {
        background-color: rgba(130, 177, 255, 1);

        .material-icons {
            color: rgba(130, 177, 255, 1);
        }
    }

    .statistics__free-installs {
        background-color: rgba(179, 136, 255, 1);

        .material-icons {
            color: rgba(179, 136, 255, 1);
        }
    }

    .statistics__pro-users {
        background-color: rgba(234, 128, 252, 1);

        .material-icons {
            color: rgba(234, 128, 252, 1);
        }
    }

}