@font-face{
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-bold.woff2") format("woff2"), url("../fonts/Raleway-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway.woff2") format("woff2"), url("../fonts/Raleway.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-bold.woff") format("woff2"), url("../fonts/Raleway-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway.woff") format("woff2"), url("../fonts/Raleway.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: social;
	font-display: swap;
	src: url("../fonts/social.woff2") format("woff2"), url("../fonts/social.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: social;
	font-display: swap;
	src: url("../fonts/social.woff") format("woff2"), url("../fonts/social.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}